// color variables
$c-void: #000000;
$c-black: #262633;
$c-black-light: #616162;
$c-gray: #E7E7E7;
$c-gray-dark: #D3D5D8;
$c-gray-light: #F4F4F4;
$c-white: #ffffff;
$c-gold: #F9CD45;
$c-orange: #FB8664;
$c-light: #FDFDFD;
$c-light-darken: #F2F4F6;
$c-red: #E5231D;
$c-green: #93C746;
$c-blue: #00bfff;
$c-brand: $c-gold;

// status
$c-error: #DA2D1D;
$c-notice: #FFB424;
$c-success: #65AD14;


//social colors
$c-social: (
  facebook: #3b5999,
  twitter: #55acee,
  instagram: #e4405f,
  tumblr: #34465d,
  github: #333333,
  dribbble: #ea4c89,
  pinterest: #bd081c,
  youtube: #cd201f,
  linkedin: #0077B5,
  soundcloud: #ff3300,
  foursquare: #f94877,
  flickr: #ff0084,
  googleplus: #dd4b39,
  reddit: #ff5700,
  steam: #000000,
  vine: #00b489,
  stumbleupon: #eb4924,
  skype: #00AFF0,
  xing: #cfdc00,
  personal_website: $c-gold
);

// etc
$c-main: $c-black;
$c-text: $c-black;
$c-accent: $c-orange;
$c-gradient-start: $c-orange;
$c-gradient-end: $c-gold;
$c-body-bg: $c-light;
$c-body-line: $c-light-darken;
