// font variables and mixins

$f-prata: Prata, serif;
$f-montserrat: Montserrat, sans-serif;

$font-family_sans-serif: $f-montserrat;
$font-family_serif: $f-prata;

//icon
$font-family_icon: 'icomoon';

//font-weight
$font-weight_light: 300;
$font-weight_regular: 400;
$font-weight_heavier: 500;
$font-weight_semibold: 600;
$font-weight_bold: 700;
$font-weight_extra-bold: 800;
