// screen size breakpoints
$responsive-breakpoints: (
  xxs:  420px,
  xs:   576px,
  s:    640px,
  m:    768px,
  l:    1024px,
  xl:   1200px,
  xxl:  1400px
);
$responsive-breakpoints_vertical: (
  s: 520px,
  m: 620px
);

$adrBarSize: 70px;

$header-height: 90px;


//margin-padding

$section-indent: 50px;
$text-indent: 3px;

$indent-xl:   30px;
$indent-l:    25px;
$indent-m:    20px;
$indent-s:    15px;
$indent-xs:   10px;
$indent-xxs:  5px;

//line-height
$line-height_default: 1.4em;
$line-height_heading: 1.7em;
$line-height_text: 2em;


$line-height_m: 1.8em;
$line-height_l: 2.2em;
